<header>
    <div class="homeLogoContent">
        <img class='logoHome' src="/assets/img/logo.png" alt="logoMcDonals">
        <h2 class="subtitleHome">VEGGY</h2>
    </div>
    <div class="contentHeader">
        <h3 class='loginHome'>LOGIN</h3>

        <form action="/" method="post" id="signupForm">
            <label>User name:</label>
            <input type="text" name="username">

            {{!-- <label>Email:</label>
            <input type="email" name="email"> --}}

            <label>Password:</label>
            <input type="password" name="password">

            <button type="submit">SEND</button>
            {{!-- <input type="submit" value="send"> --}}
        </form>


        <a class='signupHomeLink' href="/signup">signup</a>

    </div>
</header>