<h1>Creates a user</h1>

<form action="/signup" method="post" id="signupForm">
    <label>User name:</label>
    <input type="text" name="username">
{{!-- 
    <label>Email:</label>
    <input type="email" name="email"> --}}

    <label>Password:</label>
    <input type="password" name="password">

    {{!-- <<button type="submit">SEND</button>> --}}
        <input type="submit" value="send">
</form>